<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Module - <$ module.name $></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            <$ module.helpfile.style $>        
        </style>
    </head>
    <body>
        <table width="100%" border="0">
            <tr>
                <td align="left">
                    <img src="../../common/images/horizontal.png" width="200" height="64"/>
                </td>
                <td align="right">
                    <img src="../../common/images/icm_logo.png" width="120" height="64"/>
                </td>
            </tr>
        </table>

        <h1>Module: <$ module.name $></h1>
        <p><img src="<$ module.image $>"/><br></p>
        <p><$ module.description $><br><br></p>
        <table border="1">          
            <tr bgcolor="silver">
                <th width=150 height="40">input port</th>
                <th width=150>type</th>
                <th width=500>description</th>
                <th width=300>data acceptors</th>
            </tr>
            <% for varPort in module.inputs %>
            <tr>
                <td valign="top"><$ varPort.name $></td>
                <td valign="top"><font color="<$ varPort.color $>"><$ varPort.type $></font></td>
                <td valign="top"><$ varPort.description $></td>
                <td valign="top"><$ varPort.acceptors $></td>
            </tr>
            <% endfor %>
            <tr bgcolor="silver">
                <th height="40">output port</th>
                <th>type</th>
                <th>description</th>
                <th>data schemas</th>
            </tr>
            <% for varPort in module.outputs %>
            <tr>
                <td valign="top"><$ varPort.name $></td>
                <td valign="top"><font color="<$ varPort.color $>"><$ varPort.type $></font></td>
                <td valign="top"><$ varPort.description $></td>
                <td valign="top"><$ varPort.schemas $></td>
            </tr>
            <% endfor %>
        </table>
        <br><br><br>
        <$ module.helpfile.body $>
    </body>
</html>
